<!-- Services Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quem Somos</h2>
                    <p class="lead">Primeiro atacarejo de materiais de construção do Brasil</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/about/vision.png" class="img-responsive img-centered img-about img-pillar" alt="Visão">
                    <h4 class="service-heading">Visão</h4>
                    <p class="large">Revolucionamos a experiência de compra ao torná-la incrivelmente fácil, profissional, confiável e amigável.</p>
                    <p class="large">Para atingir e sempre renovar essa ambição, ajudamos incansavelmente nossas equipes e nossos clientes a se superarem.</p>
                    <p class="large">Faremos a diferença na vida dos brasileiros.</p>
                </div>
                <div class="col-md-4">
                    <img src="img/about/mission.png" class="img-responsive img-centered img-about img-pillar" alt="Missão" title="Missão">
                    <h4 class="service-heading">Missão</h4>
                    <p class="large">Ser o parceiro confiável dos profissionais e consumidores finais pragmáticos garantindo uma economia de tempo, energia e dinheiro na realização de seus projetos de construção, reforma, instalação e manutenção residencial e comercial de pequeno e médio porte.</p>
                </div>
                <div class="col-md-4">
                    <img src="img/about/values.png" class="img-responsive img-centered img-about img-pillar" alt="Valores" title="Valores">
                    <h4 class="service-heading">Valores</h4>
                    <p class="large">Proximidade</p>
                    <p class="large">Partilha</p>
                    <p class="large">Gosto por empreender</p>
                    <p class="large">Compromisso com o resultado</p>
                    <p class="large">Transparência</p>
                    <p class="large">Paixão</p>
                </div>
            </div>
        </div>
    </section>
