<!-- Services Section -->
    <section id="adeo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="http://www.adeo.com/pt-br" target="_new" class="link-img">
                        <img src="img/adeo-logo.jpg" width="200px" alt="Groupe Adeo">
                    </a>
                    <br><br><br>
                    <p class="lead">Fazemos parte do Grupo Adeo, fundado em 1923 pelo casal Adolphe Leroy e Rose Merlin, com a marca Leroy Merlin. A primeira loja era uma revenda de resíduos deixados pelos soldados americanos no fim da Primeira Guerra Mundial. Em 1979, a empresa foi comprada pela Associação Familiar Mulliez, que se torna o acionista majoritário.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <dl class="group-sector">
                        <dd>
                            <h5>LOJAS DEPÓSITO / PRO</h5>
                        </dd>
                        <dt>
                            <img src="img/adeo/bricoman.png" alt="Bricoman" title="Bricoman">
                            <span class="mr-5">BRICOMAN</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/dompro.png" alt="DomPro" title="DomPro">
                            <span class="mr-5">DomPro</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/quotatis.png" alt="Quotatis" title="Quotatis">
                            <span class="mr-5">quotatis</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/kbane.png" alt="Kbane" title="Kbane">
                            <span class="mr-5">Kbane</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/epicenter.png" alt="E.P.I. Center" title="E.P.I. Center">
                            <span class="mr-5">E.P.I. Center</span>
                        </dt>
                    </dl>
                    
                </div>                
                <div class="col-lg-3">
                    <dl class="group-sector">
                        <dd>
                            <h5>MULTIESPECIALISTAS</h5>
                        </dd>
                        <dt>
                            <img src="img/adeo/leroy.png" alt="Leroy Merlin" title="Leroy Merlin">
                            <span class="mr-5">Leroy-Merlin</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/kozikaza.png" alt="KoziKaza" title="KoziKaza">
                            <span class="mr-5">KoziKaza</span>
                        </dt>
                    </dl>
                    
                </div>                
                <div class="col-lg-3">
                    <dl class="group-sector">
                        <dd>
                            <h5>LOJAS DE DECORAÇÃO</h5>
                        </dd>
                        <dt>
                            <img src="img/adeo/zodio.png" alt="Zodio" title="Zodio">
                            <span class="mr-5">Zodio</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/decoclico.png" alt="DecoClico" title="DecoClico">
                            <span class="mr-5">DecoClico</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/delamaison.png" alt="delaMaison" title="delaMaison">
                            <span class="mr-5">delaMaison</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/lightonline.png" alt="LIGHTONLINE" title="LIGHTONLINE">
                            <span class="mr-5">LIGHTONLINE</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/tikamoon.png" alt="Tikamoon" title="Tikamoon">
                            <span class="mr-5">Tikamoon</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/alicedelice.png" alt="Alice Delice" title="Alice Delice">
                            <span class="mr-5">Alice Delice</span>
                        </dt>
                    </dl>
                </div>                
                <div class="col-lg-3">
                    <dl class="group-sector">
                        <dd>
                            <h5>LOJAS DE PROXIMIDADE</h5>
                        </dd>
                        <dt>
                            <img src="img/adeo/aki.png" alt="AKI" title="AKI">
                            <span class="mr-5">AKI</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/weldom.png" alt="WELDOM" title="WELDOM">
                            <span class="mr-5">WELDOM</span>
                        </dt>
                        <dt>
                            <img src="img/adeo/brico.png" alt="Bricocenter" title="Bricocenter">
                            <span class="mr-5">Bricocenter</span>
                        </dt>
                    </dl>
                </div>                
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <p class="lead">Adeo é a união das forças, das ideias, dos recursos, dos compromissos. Todas as empresas se reuniram em torno de valores humanos, conhecimentos e partilha de experiências, com a missão de "criar, acompanhar e tornar acessível o sonho de Habitat para todos os habitantes do mundo".</p>
                </div>
            </div>
        </div>
    </section>