<!-- Services Section -->
    <section id="adeo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="http://www.adeo.com/pt-br" target="_new" class="link-img">
                        <img src="img/adeo-logo.jpg" width="200px" alt="Groupe Adeo">
                    </a>
                    <br><br><br>
                    <p class="lead">Fazemos parte do Grupo Adeo, fundado em 1923 pelo casal Adolphe Leroy e Rose Merlin, com a marca Leroy Merlin. A primeira loja era uma revenda de resíduos deixados pelos soldados americanos no fim da Primeira Guerra Mundial. Em 1979, a empresa foi comprada pela Associação Familiar Mulliez, que se torna o acionista majoritário.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">

                    <dl class="group-sector icons_full">
                        <dd>
                            <h5>Para os particulares</h5>
                        </dd>
                        <div class="box_icon">
                            <img src="img/adeo/particular/leroy.png" alt="Leroy Merlin" title="Leroy Merlin">
                        </div>
                        <div class="box_icon">
                            <img src="img/adeo/particular/weldom.png" alt="Weldom" title="Weldom">
                        </div>
                        <div class="box_icon">
                            <img src="img/adeo/particular/bricocenter.png" alt="Bricocenter" title="Bricocenter">
                        </div>
                        <div class="box_icon">
                            <img src="img/adeo/particular/kbane.png" alt="Kbane" title="Kbane">
                        </div>
                        <div class="box_icon">
                            <img src="img/adeo/particular/quotatis.png" alt="Quatatis" title="Quatatis">
                        </div>
                        <div class="box_icon">
                            <img src="img/adeo/particular/tikamoon.png" alt="Tikamoon" title="Tikamoon">
                        </div>
                        <div class="box_icon">
                            <img src="img/adeo/particular/lightonline.png" alt="Light online" title="Light online">
                        </div>
                    </dl>
                    
                </div>                
                <div class="col-lg-6">
                    <dl class="group-sector icons_full">
                        <dd>
                            <h5>Para a vida em casa</h5>
                        </dd>
                        <div class="box_icon">
                            <img src="img/adeo/life/alicedelice.png" alt="Alice Delice" title="Alice Delice">
                        </div>
                        <div class="box_icon">
                            <img src="img/adeo/life/decolico.png" alt="DecoClico" title="DecoClico">
                        </div>
                        <div class="box_icon">
                            <img src="img/adeo/life/delamaison.png" alt="delaMaison" title="delaMaison">
                        </div>
                        <div class="box_icon">
                            <img src="img/adeo/life/zodio.png" alt="Zôdio" title="Zôdio">
                        </div>
                    </dl>
                    
                </div>                
                <div class="col-lg-6">
                    <dl class="group-sector icons_full">
                        <dd>
                            <h5>Para os profissionais</h5>
                        </dd>
                        <div class="box_icon">
                            <img src="img/adeo/professional/bricoman.png" alt="Bricoman" title="Bricoman">
                        </div>
                        <div class="box_icon">
                            <img src="img/adeo/professional/dompro.png" alt="Dompro" title="Dompro">
                        </div>
                    </dl>
                </div>                       
            </div>
            <div class="row text-center">
                <div class="col-lg-12">
                    <p class="lead">Adeo é a união das forças, das ideias, dos recursos, dos compromissos. Todas as empresas se reuniram em torno de valores humanos, conhecimentos e partilha de experiências, com a missão de "criar, acompanhar e tornar acessível o sonho de Habitat para todos os habitantes do mundo".</p>
                </div>
            </div>
        </div>
    </section>