<!-- Clients Aside -->
    <section id="clients" class="clients bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nossos Clientes</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <img src="img/clients/33.png" class="img-responsive img-centered img-pillar" alt="Gerenciadores de obra não pagadores" title="Gerenciadores de obra não pagadores">
                    <p>Engenheiros, mestres de obras, arquitetos, autônomos que com uma pequena estrutura, planificam as obras e as compras de produtos para seus clientes.</p>
                </div>

                <div class="col-md-4 col-sm-6">
                    <img src="img/clients/34.png" class="img-responsive img-centered img-pillar" alt="Compradores recorrentes de volume" title="Compradores recorrentes de volume">
                    <p>Pequenas e médias construtoras que planificam e realizam obras e reformas de maneira estruturada. São profissionais que respondem a um caderno de encargo contratual.</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <img src="img/clients/37.png" class="img-responsive img-centered img-pillar" alt="Loja de bairro" title="Loja de bairro">
                    <p>Comércio de pequeno e médio porte de materiais de construção que servem clientes e profissionais.</p>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <img src="img/clients/36.png" class="img-responsive img-centered img-pillar" alt="Especialistas vendedores de solução" title="Especialistas vendedores de solução">
                    <p>Profissionais como o gesseiro, marceneiro e serralheiro, que realizam as compras para um projeto desenhado com o cliente que paga pelo projeto completo instalado com mão de obra e produtos.</p>
                </div>
                <div class="col-md-4 col-sm-6">
                    <img src="img/clients/35.png" class="img-responsive img-centered img-pillar" alt="Especialistas Prescritores" title="Especialistas Prescritores">
                    <p>Profissionais de uma especialidade que fazem pequenos reparos e reformas. Eles vendem a mão de obra, listam e indicam os materiais para seus clientes, podendo ou não acompanhar a compra. Alguns profissionais que trabalham desta forma são o pedreiro, encanador, eletricista, pintor.</p>
                </div>

                <div class="col-md-4 col-sm-6">
                    <img src="img/clients/38.png" class="img-responsive img-centered img-pillar" alt="Consumidores finais pragmáticos" title="Consumidores finais pragmáticos">
                    <p>Compradores pessoa física que definem e abordam suas obras com tecnicidade e uma visão principalmente racional, preocupados com a funcionalidade do produto, ganho de tempo e orçamento.</p>
                </div>
            </div>
        </div>
    </section>