<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="img/logos/logo.jpg" class="brand-img" width="200" height="auto">
                <a class="navbar-brand page-scroll hidden" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#pillars">Pilares</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#clients">Clientes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#categories">Categorias</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Quem Somos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#adeo">Adeo</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#history">História</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Lançamento em breve</div>
                <!-- <div class="intro-lead-in">Atacado de Construção</div> -->
                <a href="#pillars" class="page-scroll btn btn-xl">Saiba Mais</a>
            </div>
        </div>
    </header>
