<!-- About Section -->
    <section id="history" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Sobre Nós</h2>
                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="Leroy-Merlin" title="Leroy-Merlin">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1923</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>No norte da França, Adolphe Leroy e Rose Merlin iniciam a venda de materiais deixados pelos aliados no pós Primeira Guerra Mundial.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="Bricoman" title="Bricoman">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1989</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>O Grupo cresce para fora do território francês e abre sua primeira loja Leroy Merlin na Espanha.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="Leroy-Merlin Brasil" title="Leroy-Merlin Brasil">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1998</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Abertura primeira loja Leroy Merlin Brasil.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="Bricoman" title="Bricoman">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>1999</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lançamento da Bricoman na França, com foco para o profissional de construção civil.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="Obramax" title="Obramax">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>Lançamento da Obramax no Brasil.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Seja parte
                                    <br>da nossa
                                    <br>história!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>