<!-- Services Section -->
    <section id="pillars">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Pilares</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/pillars/products.png" class="img-responsive img-centered img-pillar" alt="Sortimento" title="Sortimento">
                    <h4 class="service-heading hidden">Sortimento</h4>
                    <p class="large">Gama técnica ampla, selecionada</p>
                    <p class="large">Produtos de qualidade de marcas profissionais</p>
                    <p class="large">Preços transparentes e competitivos</p>
                </div>
                <div class="col-md-4">
                    <img src="img/pillars/service.png" class="img-responsive img-centered img-pillar" alt="Atendimento" title="Atendimento">
                    <h4 class="service-heading hidden">Atendimento</h4>
                    <p class="large">Compra simples e rápida em todos os canais</p>
                    <p class="large">Relação profissional e amigável</p>
                </div>
                <div class="col-md-4">
                    <img src="img/pillars/delivery.png" class="img-responsive img-centered img-pillar" alt="Entrega" title="Entrega">
                    <h4 class="service-heading hidden">Disponibilidade</h4>
                    <p class="large">Disponibilidade imediata em grandes volumes</p>
                    <p class="large">Entrega rápida</p>
                    <p class="large">Confiabilidade na loja e na obra</p>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="text-center">
            <h1>PARA NÓS, OBRA É COMPROMISSO!</h1>
        </div>
    </section>
